

body{
    /*border:10px #7e1b1b;  */
    display: flex;
    align-items: center;
    justify-content: center;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.container{
    padding: 10px;
}
#form{
    margin-top:20%;
    width: auto;
    
    padding-left: 20%;
    padding-right: 25%;
    background-color: rgb(245, 238, 181);
    border-radius: 15px;
    align-items: center;

}
#fieldset{
    margin: 20%;
    padding-left: 10px;
    padding-right: 10px;
    border: 1px;
    border-color: rgb(218, 29, 29);
}
.form-group{
    padding: 10px;
}
input,label{
    padding: 2px;
}
input{
    border-width: 3px;
}
label{
    font-weight:540;
    font-family:'Times New Roman', Times, serif;
    font-size:large;
}
.form-control{
    text-align: left;
    justify-content: center;
    align-items: center;
    padding: 10px 10px 10px 10px; 
    /* margin-bottom:1%;  */
    box-sizing: content-box;
    border: 1px solid rgba(165, 159, 159, 0.432);

}
legend {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}
.form-control::placeholder {
    color:black; /* Set the desired placeholder text color */
  }
 /* .form-control:active {
    outline: none;
    border-color: #f5ba1a;
}  */
input:focus::placeholder {
    color: transparent;
  }
  
.gender-value{
    border:none;
}
.details{
    margin-bottom: 5px;

}
input:valid {
      border: 2px solid rgb(82, 233, 44);
}
.center-items {
    margin-top: 10px;
    line-height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 100vh;  Adjust as needed */
}
@media (max-width: 584px){
    .container{
        max-width: 100%;
    }
    form .group-control .form-check{
        margin-bottom: 15px;
        width: 100%;
    }
    .form-check-input{
        width: 100%;
    }
    .container form .user-details{
        max-height: 300px;
        overflow-y: scroll;
    }
    /*.container::-webkit-scrollbar{
        width:0px;
    }*/
}
p{
    text-align: center;
    justify-content: center;
    align-items: center;
}
.error{
    
    padding-top: 5px;
}
/*.btn{
    background-color: darkgreen; */